# https://vercel.com/integrations/planetscale
DATABASE_URL=

NEXTAUTH_URL=http://localhost:3000
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_SECRET= 251d48402ab709c4c013e3167b4de22af3330537a1a289b552d9271893798823

# https://next-auth.js.org/providers/github
GITHUB_ID=
GITHUB_SECRET=
